body, nav, section {
	margin:5px;
}

#table_corr
 {
border-collapse: collapse;
margin-left:auto;
margin-right: auto;
text-align:center;

}

#table_res
 {
border-collapse: collapse;
margin-left:auto;
margin-right: auto;
text-align:center;

}

td 
{
border: 1px solid black;
text-align: left;
}

th
{
border: 1px solid black;
text-align: center;
background-color: rgb(55,96,146);
color: white;
/* font-size: 16px; */
font-family: arial, sans-serif;
}

.qlib {
	color: red;
}

#requete {
	font-family: courier;
	font-size: 1.15em;
	color: red;
	text-align: left;
	margin-left: 3em;
}
.saisie {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
#query {
	text-align:left;
	width:100%;
	max-width:400px;
}
footer {
	
	text-align: center;
	font-family: arial, sans-serif;
	font-size: 0.8em;
	padding-top: 1em;
	padding-bottom: 1em;
	background:lightgrey;
	
}


#bouton1
{
background-color: rgb(55,96,146);
color: white;
font-family: arial, sans-serif;
/* margin-left:325px;
position: relative;
top: -38px; */
}


#bouton2
{
background-color: rgb(55,96,146);
color: white;
font-family: arial, sans-serif;
/*position: relative; 
top:-14px;
left: 20px; */
}

















