body, nav, section {
	margin:5px;
}

#table_corr
 {
border-collapse: collapse;
margin-left:auto;
margin-right: auto;
text-align:center;

}

#table_res
 {
border-collapse: collapse;
margin-left:auto;
margin-right: auto;
text-align:center;
overflow:visible;
}

td 
{
border: 1px solid lightgrey;
text-align: left;
}

th
{
border: 1px solid lightgrey;
text-align: center;
background-color: white;
color: grey;
font-family: arial, sans-serif;
}

.qlib {
	color: black;
	background: #F9F9FA;
	border-radius:5px;
	box-shadow: 3px 3px 3px lightgrey;
	padding:5px;
	border-top:5px solid #1EACFE;
}

#requete {
	font-family: courier;
	font-size: 1.15em;
	color: red;
	text-align: left;
	margin-left: 3em;
}
.saisie {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
#query {
	text-align:left;
	width:100%;
	max-width:400px;
}
footer {
	
	text-align: center;
	font-family: arial, sans-serif;
	font-size: x-small;
	padding-top: 1em;
	padding-bottom: 1em;
	background:lightgrey;
	
}


#bouton1
{
background-color: rgb(55,96,146);
color: white;
font-family: arial, sans-serif;
/* margin-left:325px;
position: relative;
top: -38px; */
}


#bouton2
{
background-color: rgb(55,96,146);
color: white;
font-family: arial, sans-serif;
/*position: relative; 
top:-14px;
left: 20px; */
}

#boutonCorr {
	width:80%;
	max-width:400px;
	background:grey;
	color:white;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
}

.separation {
	width:95%;
	border: 1px solid lightgrey;
	
}
.subbutton {
	display:flex;
	justify-content: space-between;
}


#boutonEffacer
{
margin-right:auto;
}

#boutonExecuter
{
	background:#8FC32A;
	color:white;
	border:0px;
	padding:5px;
margin-right:5px;
box-shadow: 3px 3px 3px lightgrey;
}
th,td{
	padding:5px;
}









