:root{
  --primary: #22ABCF;
  --maxwidth: 400px;
}


body   {
	margin:5px;
}

nav {
	display:flex;
	 align-items:baseline;
	justify-content: stretch;
	background:var(--primary);
	margin-bottom:10px;
	
}

nav .sep:before, #attribution span {
	/*content: " | "; */
}

.bouton {
	padding:5px;
	border-left:1px solid white;
	color: white;
	font-family: arial, sans-serif;
	margin-right:auto;
	text-align:center;
	width:100%;
}
.nav {
	
}

#schemaRel {
	border-bottom: 1px solid lightgrey;
	margin-bottom: 10px;
}

#schemaRel .tname {
	font-weight:bold;
}

#schemaRel .cp {
	text-decoration:underline;
}
#schemaRel .cp:before {
	font-size:smaller;
	content: "🔑";
}

#schemaRel .ce {
	font-style:italic;
}
#schemaRel .ce:before {
	font-style:normal;
	font-size:smaller;
	content: "️#️⃣";
}
#corrTable, #resTable {
	display:flex;
	justify-content: center;
}
#table_corr
 {
border-collapse: collapse;
margin-left:auto;
margin-right: auto;
text-align:center;

}

#table_res
 {
border-collapse: collapse;
margin-left:auto;
margin-right: auto;
text-align:center;
overflow:visible;
}

td 
{
border: 1px solid lightgrey;
text-align: left;
}

th
{
border: 1px solid lightgrey;
text-align: center;
background-color: white;
color: var(--primary);
font-family: arial, sans-serif;
}

.qlib {
	color: black;
	background: #F9F9FA;
	box-sizing: border-box;
	border-radius:5px;
	box-shadow: 3px 3px 3px lightgrey;
	padding:5px;
	border-top:5px solid var(--primary);
	font-size: larger;
	font-family: arial, sans-serif;
	text-align:center;
}

h3{
	margin-top:0px;
	margin-bottom:0px;
}

#form1 {
	text-align:center;
	
}

#requete {
	font-family: courier;
	font-size: 1.15em;
	color: red;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	max-width:var(--maxwidth);
}
.saisie {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:0px;
}
#query {
	text-align:left;
	width:98%;
	max-width:var(--maxwidth);
	
}



#bouton1
{

/* margin-left:325px;
position: relative;
top: -38px; */
}


#bouton2
{

/*position: relative; 
top:-14px;
left: 20px; */
}

#boutonCorr {
	width:80%;
	max-width:var(--maxwidth);
	background:grey;
	color:white;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	padding:10px;
}

.separation {
	width:95%;
	border: 1px solid lightgrey;
	
}
.subbutton {
	display:flex;
	text-align:center;
	max-width:var(--maxwidth);
	margin-left:auto;
	margin-right:auto;
	justify-content: space-between;
}


#boutonEffacer
{
margin-right:auto;
}

#boutonExecuter
{
	background:#8FC32A;
	color:white;
	border:0px;
	padding:5px;
margin-right:5px;
box-shadow: 3px 3px 3px lightgrey;
}
th,td{
	padding:5px;
}

#commentaire{
	text-align:center;
}

#commentaire h3 {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background:lightgrey;
	color:white;
	padding: 5px;
	width:80%;
	max-width:var(--maxwidth);
	
}

footer {
	
	text-align: center;
	font-family: arial, sans-serif;
	font-size: small;
	padding-top: 10px;
	padding-bottom: 1em;
	background:var(--primary);
	width:100%;
	
}
#attribution{
	
	color:white;
}

#attribution p {
	/*margin-top:1px;
	margin-bottom:1px;*/
}



